In [1]:
import sqlite3

In [2]:
class Employee:
    raise_anu = 1.04
    num_emps = 0
    
    def __init__(self, first, last, pay):
        self.first = first
        self.last = last
        self.pay = pay
        self.email = first + '.' + last + '@company.com'
        
        Employee.num_emps +=1
        
    def fullname(self):
        return '{} {}'.format(self.first, self.last)
    
    def apply_raise(self):
        self.pay = int(self.pay * self.raise_anu)

In [3]:
conn = sqlite3.connect(':memory:')
c = conn.cursor()

In [4]:
c.execute("""CREATE TABLE employees (
            first text,
            last text,
            pay integer)""")

In [7]:
def insert_emp(emp):
    with conn:
        c.execute("INSERT INTO employees VALUES (:first,:last,:pay)", {'first':emp.first,'last':emp.last, 'pay':emp.pay})
        
def get_emps_by_last_name(lastname):
    c.execute("SELECT * FROM employees WHERE last= :last", {'last':lastname})
    return c.fetchall()

In [8]:
emp_1 = Employee('John','Doe',60000)
emp_2 = Employee('Corey','Doe',7000)

insert_emp(emp_1)
insert_emp(emp_2)

emps = get_emps_by_last_name('Doe')
print(emps)

[('John', 'Doe', 60000), ('Corey', 'Doe', 7000), ('John', 'Doe', 60000), ('Corey', 'Doe', 7000)]